html, body {
	height: 100%;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  margin: 0;
}

input, textarea, select, button {
	font-family: inherit;
  font-size: inherit;
}
