.field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background-color: var(--field-bg);
  background-clip: padding-box;
  display: block;
  line-height: 1.5;
  color: var(--field-color);
  overflow: auto;
  box-sizing: border-box;
  padding: 0.375rem 0.75rem;
  border: var(--border-width) solid var(--field-border-color);
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  resize: vertical;
}
.field:focus {
  background-color: var(--field-focus-bg);
  color: var(--field-focus-color);
  border-color: var(--field-focus-border-color);
  box-shadow: 0 0 0 .25rem var(--field-focus-shadow);
  outline: 0;
}

.btn {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-width: var(--border-width);
  border-style: solid;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn svg {
  display: inline-block;
  vertical-align: -0.125em;
}
.btn:disabled {
  opacity: 0.65;
  pointer-events: none;
  cursor: initial;
}
.btn:focus-visible {
  outline: 0;
}

.btn_primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-color);
  border-color: var(--btn-primary-border-color);
}
.btn_primary:disabled {
  background-color: var(--btn-primary-disabled-bg);
  color: var(--btn-primary-disabled-color);
  border-color: var(--btn-primary-disabled-border-color);
}
.btn_primary:hover {
  background-color: var(--btn-primary-hover-bg);
  color: var(--btn-primary-hover-color);
  border-color: var(--btn-primary-hover-border-color);
}
.btn_primary:active {
  background-color: var(--btn-primary-active-bg);
  color: var(--btn-primary-active-color);
  border-color: var(--btn-primary-active-border-color);
}
.btn_primary:focus-visible {
  background-color: var(--btn-primary-focus-bg);
  color: var(--btn-primary-focus-color);
  border-color: var(--btn-primary-focus-border-color);
  box-shadow: 0 0 0 0.25rem var(--btn-primary-focus-shadow);
}

.btn_outline-secondary {
  background-color: var(--btn-outline-secondary-bg);
  color: var(--btn-outline-secondary-color);
  border-color: var(--btn-outline-secondary-border-color);
}
.btn_outline-secondary:disabled {
  background-color: var(--btn-outline-secondary-disabled-bg);
  color: var(--btn-outline-secondary-disabled-color);
  border-color: var(--btn-outline-secondary-disabled-border-color);
}
.btn_outline-secondary:hover {
  background-color: var(--btn-outline-secondary-hover-bg);
  color: var(--btn-outline-secondary-hover-color);
  border-color: var(--btn-outline-secondary-hover-border-color);
}
.btn_outline-secondary:active {
  background-color: var(--btn-outline-secondary-active-bg);
  color: var(--btn-outline-secondary-active-color);
  border-color: var(--btn-outline-secondary-active-border-color);
}
.btn_outline-secondary:focus-visible {
  background-color: var(--btn-outline-secondary-focus-bg);
  color: var(--btn-outline-secondary-focus-color);
  border-color: var(--btn-outline-secondary-focus-border-color);
  box-shadow: 0 0 0 0.25rem var(--btn-outline-secondary-focus-shadow);
}
