.img {
  max-height: 30rem;
  position: relative;
  overflow: hidden;
}
  .img::before {
    content: '';
    display: block;
    margin-top: 100%;
  }
  .img__empty {
    background-color: var(--img-bg);
    color: var(--img-color);
    display: grid;
    place-content: center;
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border: var(--border-width) solid var(--img-border-color);
    border-radius: 0.375rem;
  }
  .img__svg {
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: 0.375rem;
  }

.buttons {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}
  .buttons__common,
  .buttons__advanced {
    display: flex;
    gap: 0.5rem;
  }

.form {}
  .form .field {
    width: 100%;
    min-height: 10rem;
    display: block;
    resize: vertical;
  }
  .form .buttons {
    margin-top: 1rem;
  }

.page {
  min-width: 20rem;
  max-width: 32rem;
  box-sizing: border-box;
  padding: 1rem;
  margin: auto;
}
  .page__header {
    font-size: 33px;
    font-weight: 800;
    text-align: center;
    margin: 0;
  }
  .page .img {
    width: 100%;
    margin-top: 1rem;
  }
  .page .form {
    margin-top: 1rem;
  }
