:root {
  --white-rgb: 255 255 255;
  --black-rgb: 0 0 0;

  --accent-rgb: 13 110 253;
  --accent-hover-rgb: 10 88 202;

  --border-color-rgb: 222 226 230;
  --border-width: 1px;

  --btn-primary-bg: rgb(var(--accent-rgb));
  --btn-primary-color: rgb(var(--white-rgb));
  --btn-primary-border-color: rgb(var(--accent-rgb));

  --btn-primary-hover-bg: rgb(11 94 215);
  --btn-primary-hover-color: var(--btn-primary-color);
  --btn-primary-hover-border-color: rgb(var(--accent-hover-rgb));

  --btn-primary-disabled-bg: var(--btn-primary-bg);
  --btn-primary-disabled-color: var(--btn-primary-color);
  --btn-primary-disabled-border-color: rgb(var(--accent-rgb));

  --btn-primary-active-bg: rgb(var(--accent-hover-rgb));
  --btn-primary-active-color: var(--btn-primary-color);
  --btn-primary-active-border-color: rgb(10 83 190);

  --btn-primary-focus-bg: var(--btn-primary-hover-bg);
  --btn-primary-focus-color: var(--btn-primary-color);
  --btn-primary-focus-border-color: var(--btn-primary-hover-border-color);
  --btn-primary-focus-shadow: rgb(49 132 253 / .5);

  --btn-outline-secondary-bg: transparent;
  --btn-outline-secondary-color: rgb(108 117 125);
  --btn-outline-secondary-border-color: rgb(108 117 125);

  --btn-outline-secondary-hover-bg: rgb(108 117 125);
  --btn-outline-secondary-hover-color: rgb(var(--white-rgb));
  --btn-outline-secondary-hover-border-color: rgb(108 117 125);

  --btn-outline-secondary-disabled-bg: transparent;
  --btn-outline-secondary-disabled-color: rgb(108 117 125);
  --btn-outline-secondary-disabled-border-color: rgb(108 117 125);

  --btn-outline-secondary-active-bg: rgb(108 117 125);
  --btn-outline-secondary-active-color: rgb(var(--white-rgb));
  --btn-outline-secondary-active-border-color: rgb(108 117 125);

  --btn-outline-secondary-focus-bg: var(--btn-outline-secondary-bg);
  --btn-outline-secondary-focus-color: var(--btn-outline-secondary-color);
  --btn-outline-secondary-focus-border-color: var(--btn-outline-secondary-border-color);
  --btn-outline-secondary-focus-shadow: rgb(108 117 125 / .5);

  --field-bg: rgb(var(--white-rgb));
  --field-color: rgb(33 37 41);
  --field-border-color: rgb(var(--border-color-rgb));

  --field-focus-bg: var(--field-bg);
  --field-focus-color: var(--field-color);
  --field-focus-border-color: rgb(134 183 254);
  --field-focus-shadow: rgb(var(--accent-rgb) / .25);

  --img-bg: rgb(233 236 239);
  --img-color: rgb(108 117 125);
  --img-border-color: rgb(var(--border-color-rgb));
}
